* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Jost", sans-serif;
    scroll-behavior: smooth;
}

.button {
    padding: 12px 24px;
    background-color: #f6623e;
    border: none;
    color: #ffffff;
    cursor: pointer;
    margin-top: 40px;
}


@media (max-width: 1580px){
    .info{
        margin-left: 250px;
    }
}
@media (max-width: 1450px){
    .info{
        width: 100px;
        position: abso;
        margin-left: 400px;
        margin-top: -80px;
    }
}

